/* Тело сайта */
body{
    font-family: "Hero";
    background-color: white;
    margin: 0px;
}

/* Панель навигации */
.nav {
    background-color: #f9f9fa;
    overflow: hidden;
    display: fex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tabs a {
    float: left;
    color: #555;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-size: 18px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.2s; /* Время перехода */
}

.tabs a:hover {
    background-color: #fdfdfd
}

.tabs a.active {
    background-color: white;
    color: black;
}

.nav h1 {
    float: left;
    color: #000;
    text-align: center;
    padding: 12px 12px;
    margin: 0px;
    text-decoration: none;
    font-size: 18px;
}


/* Основной раздел */
.main {
    background-color: white;
}
