/* Тело сайта */
body{
    font-family: "Hero";
    background-color: white;
    margin: 0px;
}

/* Панель навигации */
.nav {
    background-color: #f9f9fa;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 5px
}

.nav li {
    display: inline;
    float: left;
    border-right: 1px solid #0000;
}

.nav li:last-child {
    border-right: none;
}

.nav ul a {
    display: block;
    color: #666;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.2s; /* Время перехода */
}

.nav ul a:hover {
    background-color: #fdfdfd
}

.nav ul a.active {
    background-color: white;
    color: black;
}

.nav h1 {
    float: left;
    color: #000;
    text-align: center;
    padding: 15px;
    padding-top: 20;
    margin: 0px;
    text-decoration: none;
    font-size: 18px;
}

.nav img.logo {
    float: left;
    padding: 5px 5px;
    max-height: 34px;
    max-weight: 34px;
    margin: 0px;
    position: ;
}


/* Основной раздел */
.main {
    background-color: white;
}
