<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Панель управления • Smart boat controller</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
<div class="nav">
    <img class="logo" src="logo.svg">
    <h1>Smart boat controller</h1>
    <a class="active" href="home.html">Главная</a>
    <a href="forum.html">Форум</a>
    <a href="catalog.html">Товары</a>
    <a href="contacts.html">Контакты</a>
    <a href="about.html">О нас</a>
    <!--<a href="account"><img class="account" src="account.svg"></a>-->
</div>
</body>
</html>