<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель управления • Smart boat controller</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
<div class="nav">
    <img class="logo" src="logo.svg">
    <h1>Smart boat controller</h1>
    <div class="tabs">
       <a class="active" href="control.html">Управление</a>
        <a href="stats.html">Статистика</a>
        <a href="data.html">Передача данных</a>
        <a href="settings.html">Настройки</a>
    </div>
</div>
<div CLASS="main">

</div>
</body>
</html>