<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель управления • Smart boat controller</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
<div class="nav">
    <!--<img class="logo" src="logo.svg">-->
    <h1>Smart boat controller</h1>
    <ul>
        <li><a class="active" href="control.html">Управление</a></li>
        <li><a href="stats.html">Статистика</a></li>
        <li><a href="data.html">Передача данных</a></li>
        <li><a href="settings.html">Настройки</a></li>
    </ul>
</div>
<div class="main">
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>
    <p>fgddddddddddddddddddddd</p>

    <p>fgddddddddddddddddddddd</p>
</div>
</body>
</html>