<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход • Smart boat controller</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="active">Вход</h2>
        <form>
            <input type="text" id="username" class="fadeIn" name="username" placeholder="Email или имя пользователя">
            <input type="password" id="password" class="fadeIn" name="password" placeholder="Пароль">
            <a class="underlineHover" href="#">Забыли пароль?</a>
            <input type="submit" class="fadeIn" value="Войти">
            <h2>{{ error }}</h2>
        </form>
    </div>
</div>
</body>
</html>